<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>

    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
        }
        .container {
            text-align: center;
        }

        .allBlogs {
            margin: 5px;
            padding: 5px;
        }

        .blog {
            border: 2px solid black;
            text-align: left;
            margin: 1rem;
            padding: 5px;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1>All Blogs</h1>
        <div class="allBlogs">
            <div class="blog">
                <h3><%= blog.blogAuthor %></h3>
                <h4><%= blog.blogTitle %></h4>
                <p><%= blog.blogDescription %></p>
            </div>
        </div>
    </div>
</body>

</html>