<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <form action="/user/login" method="post">

            <label>Email : </label>
            <input type="text" placeholder="example@xyz.com" name="email"><br><br>

            <label>Password : </label>
            <input type="text" placeholder="Password" name="password"><br><br>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>